# ============================================
# Python
# ============================================
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Dataset
Weather_AI/data/


# Virtual Environments
.venv/
venv/
env/
ENV/

# ============================================
# Django
# ============================================
# Local database
*.sqlite3
db.sqlite3

*.csv

# Logs
*.log

# dotenv (thường chứa SECRET_KEY)
.env


# VS Code
.vscode/

# Sublime
*.sublime-project
*.sublime-workspace

# ============================================
# OS junk files
# ============================================
.DS_Store
Thumbs.db

# ============================================
# Others
# ============================================
*.bak
*.tmp
*.swp


# PyCharm IDE configs
.idea/
*.iml
*.ipr
*.iws
