{% load static %}
 <header class="site-header">
        <div class="header-left">
            <img class="logo-icon" src="../static/image/logo_1.png" alt="">
            <div class="search-bar">
                <input type="text" placeholder="Nhập tên tỉnh thành phố">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
        </div>
        <div class="header-right">
            <span>Giờ địa phương: 14:54:40 2/11/2025</span>
        </div>
 </header>
    <nav class="main-nav">
        <ul class="nav-links">
            <li><a href="#"><i class="fa-solid fa-house"></i> Trang chủ</a></li>
            <li><a href="#"><i class="fa-solid fa-location-dot"></i> Tỉnh/Thành phố</a></li>
            <li><a href="#"><i class="fa-solid fa-circle-exclamation"></i> Cảnh báo thời tiết</a></li>
            <li><a href="#"><i class="fa-solid fa-cloud-rain"></i> Lượng mưa</a></li>
            <li><a href="#"><i class="fa-solid fa-wind"></i> Chất lượng không khí </a></li>
            <li><a href="#"><i class="fa-solid fa-earth-americas"></i> Khám phá </a></li>

        </ul>
        <div class="nav-location">
            <span>Bạn đang ở đây: <strong>Hà Nội</strong></span>
            <a href="#" class="location-link"><i class="fa-solid fa-location-dot"></i> Định Vị</a>
        </div>
    </nav>