{% load static %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giao diện Thời tiết</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <script src="{% static 'js/script.js' %}"> </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
{% include 'header.html' %}
<main>
        <section class="weather-dashboard">
            <div class="content-relative">
                <div class="card current-weather-card">
                <h2 id="current-city-name">Đang tải...</h2>
                <div class="current-main">
                    <div class="current-temp">
                        <img src="{% static 'image/mayden.png' %}" alt="" class="current-img" id="current-icon">
                        <span id="current-temp">--°</span>
                    </div>
                    <div class="current-desc">
                        <p id="current-description">--</p>
                        <span id="current-feels-like">Cảm giác như --°</span>
                    </div>
                </div>
                <div class="weather-details">
                    <div class="detail-item">
                        <img src="{% static 'image/icon-style-1-temp.svg' %}" alt="" class="detail-img">
                        <div class="detail-title">Thấp/Cao</div>
                        <div class="detail-temp"><p id="current-temp-minmax">--°/--°</p></div>
                    </div>
                    <div class="detail-item">
                        <img src="{% static 'image/icon-style-1-drop.svg' %}" alt="" class="detail-img">
                        <div class="detail-title">Độ ẩm</div>
                        <div class="detail-temp"><p id="current-humidity">--%</p></div>
                    </div>
                    <div class="detail-item">
                        <img src="{% static 'image/icon-style-1-pressure.svg' %}" alt="" class="detail-img">
                        <div class="detail-title">Áp suất</div>
                        <div class="detail-temp"><p id="current-pressure">-- hPa</p></div>
                    </div>
                    <div class="detail-item">
                        <img src="{% static 'image/icon-style-1-eyes.svg' %}" alt="" class="detail-img">
                        <div class="detail-title">Tầm nhìn</div>
                        <div class="detail-temp"><p id="current-visibility">-- km</p></div>
                    </div>
                    <div class="detail-item">
                        <img src="{% static 'image/icon-style-1-windy.svg' %}" alt="" class="detail-img">
                        <div class="detail-title">Gió</div>
                        <div class="detail-temp"><p id="current-wind">-- kh/h</p></div>
                    </div>
                    <div class="detail-item">
                        <img src="{% static 'image/icon-style-1-uv.svg' %}" alt="" class="detail-img">
                        <div class="detail-title">UV</div>
                        <div class="detail-temp"><p id="current-uvi">--</p></div>
                    </div>
                </div>
            </div>
            <div class="forecast-cards">
                <a href="#" class="card forecast-card">
                    <h3><span id="thu_weather">Thứ 2</span> <span id="ngay_thang">16/11</span></h3>
                    <img class="main-img" src="{% static 'image/weather.png' %}" alt="">
                    <p class="img-eyes"><img class="detail-img" src="{% static 'image/icon-style-1-drop.svg' %}" alt=""><span>89 %</span></p>
                    <div class="status"><p id="status_card">Mưa vừa</p></div>
                    <div class="temp"><p id="temp_minmax_card">--°/--°</p></div>
                </a>
                 <a href="#" class="card forecast-card">
                    <h3><span id="thu_weather">Thứ 2</span> <span id="ngay_thang">16/11</span></h3>
                    <img class="main-img" src="{% static 'image/weather.png' %}" alt="">
                    <p class="img-eyes"><img class="detail-img" src="{% static 'image/icon-style-1-drop.svg' %}" alt=""><span>89 %</span></p>
                    <div class="status"><p id="status_card">Mưa vừa</p></div>
                    <div class="temp"><p id="temp_minmax_card">--°/--°</p></div>
                </a>
                 <a href="#" class="card forecast-card">
                    <h3><span id="thu_weather">Thứ 2</span> <span id="ngay_thang">16/11</span></h3>
                    <img class="main-img" src="{% static 'image/weather.png' %}" alt="">
                    <p class="img-eyes"><img class="detail-img" src="{% static 'image/icon-style-1-drop.svg' %}" alt=""><span>89 %</span></p>
                    <div class="status"><p id="status_card">Mưa vừa</p></div>
                    <div class="temp"><p id="temp_minmax_card">--°/--°</p></div>
                </a>
                 <a href="#" class="card forecast-card">
                    <h3><span id="thu_weather">Thứ 2</span> <span id="ngay_thang">16/11</span></h3>
                    <img class="main-img" src="{% static 'image/weather.png' %}" alt="">
                    <p class="img-eyes"><img class="detail-img" src="{% static 'image/icon-style-1-drop.svg' %}" alt=""><span>89 %</span></p>
                    <div class="status"><p id="status_card">Mưa vừa</p></div>
                    <div class="temp"><p id="temp_minmax_card">--°/--°</p></div>
                </a>
                 <a href="#" class="card forecast-card">
                    <h3><span id="thu_weather">Thứ 2</span> <span id="ngay_thang">16/11</span></h3>
                    <img class="main-img" src="{% static 'image/weather.png' %}" alt="">
                    <p class="img-eyes"><img class="detail-img" src="{% static 'image/icon-style-1-drop.svg' %}" alt=""><span>89 %</span></p>
                    <div class="status"><p id="status_card">Mưa vừa</p></div>
                    <div class="temp"><p id="temp_minmax_card">--°/--°</p></div>
                </a>


            </div>

            </div>
        </section>
        <section class="secondary-content">
            <div class="container">
                <div class="featured-cities">
                <h2>Thời tiết nổi bật</h2>
                <div class="cities-wrapper">
                    <a href="#" class="card city-card">
                        <div class="main-title">Hà Nội</div>
                        <img src="{% static 'image/weather.png' %}" alt="" class="main-img">
                        <p class="img-eyes"><img class="detail-img" src="{% static 'image/icon-style-1-drop.svg' %}" alt=""><span>89 %</span></p>
                        <div class="status"><p>Mưa vừa</p></div>
                        <div class="temp">26°/ 23°</div>
                    </a>
                    <a href="#" class="card city-card">
                        <div class="main-title">Đà Nẵng</div>
                        <img src="{% static 'image/weather.png' %}" alt="" class="main-img">
                        <p class="img-eyes"><img class="detail-img" src="{% static 'image/icon-style-1-drop.svg' %}" alt=""><span>89 %</span></p>
                        <div class="status"><p>Mưa vừa</p></div>
                        <div class="temp">26°/ 23°</div>
                    </a>
                     <a href="#" class="card city-card">
                        <div class="main-title">TP. HCM</div>
                        <img src="{% static 'image/weather.png' %}" alt="" class="main-img">
                        <p class="img-eyes"><img class="detail-img" src="{% static 'image/icon-style-1-drop.svg' %}" alt=""><span>89 %</span></p>
                        <div class="status"><p>Mưa vừa</p></div>
                        <div class="temp">26°/ 23°</div>
                    </a>

                </div>
                <div class="cities-wrapper">
                    <a href="#" class="card city-card">
                        <div class="main-title">Hà Nội</div>
                        <img src="{% static 'image/weather.png' %}" alt="" class="main-img">
                        <p class="img-eyes"><img class="detail-img" src="{% static 'image/icon-style-1-drop.svg' %}" alt=""><span>89 %</span></p>
                        <div class="status"><p>Mưa vừa</p></div>
                        <div class="temp">26°/ 23°</div>
                    </a>
                    <a href="#" class="card city-card">
                        <div class="main-title">Đà Nẵng</div>
                        <img src="{% static 'image/weather.png' %}" alt="" class="main-img">
                        <p class="img-eyes"><img class="detail-img" src="{% static 'image/icon-style-1-drop.svg' %}" alt=""><span>89 %</span></p>
                        <div class="status"><p>Mưa vừa</p></div>
                        <div class="temp">26°/ 23°</div>
                    </a>
                     <a href="#" class="card city-card">
                        <div class="main-title">TP. HCM</div>
                        <img src="{% static 'image/weather.png' %}" alt="" class="main-img">
                        <p class="img-eyes"><img class="detail-img" src="{% static 'image/icon-style-1-drop.svg' %}" alt=""><span>89 %</span></p>
                        <div class="status"><p>Mưa vừa</p></div>
                        <div class="temp">26°/ 23°</div>
                    </a>

                </div>
                <div class="cities-wrapper">
                    <a href="#" class="card city-card">
                        <div class="main-title">Hà Nội</div>
                        <img src="{% static 'image/weather.png' %}" alt="" class="main-img">
                        <p class="img-eyes"><img class="detail-img" src="{% static 'image/icon-style-1-drop.svg' %}" alt=""><span>89 %</span></p>
                        <div class="status"><p>Mưa vừa</p></div>
                        <div class="temp">26°/ 23°</div>
                    </a>
                    <a href="#" class="card city-card">
                        <div class="main-title">Đà Nẵng</div>
                        <img src="{% static 'image/weather.png' %}" alt="" class="main-img">
                        <p class="img-eyes"><img class="detail-img" src="{% static 'image/icon-style-1-drop.svg' %}" alt=""><span>89 %</span></p>
                        <div class="status"><p>Mưa vừa</p></div>
                        <div class="temp">26°/ 23°</div>
                    </a>
                     <a href="#" class="card city-card">
                        <div class="main-title">TP. HCM</div>
                        <img src="{% static 'image/weather.png' %}" alt="" class="main-img">
                        <p class="img-eyes"><img class="detail-img" src="{% static 'image/icon-style-1-drop.svg' %}" alt=""><span>89 %</span></p>
                        <div class="status"><p>Mưa vừa</p></div>
                        <div class="temp">26°/ 23°</div>
                    </a>

                </div>
                <div class="cities-wrapper">
                    <a href="#" class="card city-card">
                        <div class="main-title">Hà Nội</div>
                        <img src="{% static 'image/weather.png' %}" alt="" class="main-img">
                        <p class="img-eyes"><img class="detail-img" src="{% static 'image/icon-style-1-drop.svg' %}" alt=""><span>89 %</span></p>
                        <div class="status"><p>Mưa vừa</p></div>
                        <div class="temp">26°/ 23°</div>
                    </a>
                    <a href="#" class="card city-card">
                        <div class="main-title">Đà Nẵng</div>
                        <img src="{% static 'image/weather.png' %}" alt="" class="main-img">
                        <p class="img-eyes"><img class="detail-img" src="{% static 'image/icon-style-1-drop.svg' %}" alt=""><span>89 %</span></p>
                        <div class="status"><p>Mưa vừa</p></div>
                        <div class="temp">26°/ 23°</div>
                    </a>
                     <a href="#" class="card city-card">
                        <div class="main-title">TP. HCM</div>
                        <img src="{% static 'image/weather.png' %}" alt="" class="main-img">
                        <p class="img-eyes"><img class="detail-img" src="{% static 'image/icon-style-1-drop.svg' %}" alt=""><span>89 %</span></p>
                        <div class="status"><p>Mưa vừa</p></div>
                        <div class="temp">26°/ 23°</div>
                    </a>

                </div>
                </div>
            <div class="windy-map">
                <h2>Bản đồ thời tiết Windy</h2>
                <div class="map-container">
                    <iframe width="650" height="450" src="https://embed.windy.com/embed.html?type=map&location=coordinates&metricTemperature=°C&metricRain=mm&metricWind=km/h&zoom=5&overlay=wind&product=ecmwf&level=surface&lat=16.0544&lon=108.2021&detailLat=16.0544&detailLon=108.2021" frameborder="0"></iframe>
                </div>
            </div>
            </div>
        </section>
    </main>
{% include 'footer.html' %}
</body>
</html>